.section-models-slider{
  padding-top: 110px;
  padding-right: 0;
}



// ----------- responsive ----------
@media (max-width: 1030px){

}

@media (max-width: 992px){


}

@media (max-width: 768px){


}


@media (max-width: 576px) {
  .section-models-slider{
    padding-top: 50px;
  }

}
@media (max-width: 320px){

}