$dir_img: '../img';

// fonts
$font-primary: normal 400 15px/24px 'Formular', sans-serif;
$font-color-primary: #1A1B1C;

//background
$bg-color-primary: #ffffff;

/*
$bg_color-secondary: #E6F5FB;
$bg-color-a_hover: #4AC0EC;*/

