.main-slider{

}

.main-slider__item{
  position: relative;
  height: 600px;
  padding-top: 100px;
  padding-bottom: 40px;

}

// TODO "протестировать на рызных фото, js-м подгонят ширину в зависимости от высоты"


.main-slider__img{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main-slider__img img{
  position: absolute;
  right: 0;
  width: 1440px;
  height: 100%;
}

.main-slider__content, .main-slider__list{
  position: relative;
  color: $font-color-white;
  padding-left: 2.8%;
  padding-right: 2.8%;
  z-index: 1;

}

.main-slider__title{
  font-size: 64px;
  line-height: 68px;
  font-weight: 700;
  width: 70%;
  margin-bottom: 60px;
}

.main-slider__brand{
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 5px;
}

.main-slider__slogan{
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 30px;
}

.main-slider__list{
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  list-style-type: none;
  margin-top: 115px;
}

.main-slider__list a{
  color: $font-color-white;
}

.main-slider__list a:hover{
  /*color: $font-color-grey;*/
}

.main-slider{
  .slick-dots--main-slider{
    display: inline-block;
    position: absolute;
    bottom: 130px;
    left: 2.8%;
    width: auto;
  }

  .slick-dots--main-slider li button{
    width: 4px;
    height: 4px;
  }

  .slick-dots--main-slider li button:before{
    width: 4px;
    height: 4px;
    background-color: #424243;
    border-radius: 2px;
  }

  .slick-dots--main-slider li.slick-active,
  .slick-dots--main-slider li.slick-active button,
  .slick-dots--main-slider li.slick-active button:before  {
    width: 35px;
  }

  .slick-dots--main-slider li.slick-active button:after{
    content: '';
    position: absolute;
    display: inline-block;
    left:6px;
    top: 1px;
    height: 4px;
    background-color: $font-link-color-hover;
    border-radius: 5px;
    width: 19px;
  }

  .slick-dots--main-slider li.slick-active button:before{
    background-color: #424243;
  }
}

