.section-about-2{
  display: flex;
  flex-direction: row;
  padding-bottom: 100px;

  .sa-col-1{
    margin-right: 55px;
  }

  .sa-col-2{
    flex-grow: 1;

    .content__title{
      margin-bottom: 30px;
    }

  }
}

.sa__img-block-wrp2{
  height: 324px;
  width: 530px;
  background-color: $bg-color-grey;
}

.sa__img-block2{
  display: inline-block;
  height: 324px;
  width: 500px;
}

.sa__img-block2 img{
  max-height: 100%;
  max-width: 100%;
}