.section-about__text-content{

  .section-about__col-wrp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .section-about__col-1{
    flex: 0 1 53.8%;
    padding-top: 35px;
    padding-left: 6.11%;
    padding-right: 20px;
  }

  // правая серая колонка
  .section-about__col-2{
    flex: 0 1 39.6%;
    min-width: 400px;
    max-width: 500px;
    align-self: flex-start;
    margin-right: 6.11%;
    transform: translateY(-200px);
  }


  .about__address-block-wrp{
    padding: 9.5%;
    background-color: $bg-color-grey;

    .address-block__name{
      font-size: 16px;
      line-height: 20px;
      font-weight: 700;
    }

    .address-block__address{
      font-size: 40px;
      line-height: 40px;
      font-weight: 700;
      margin-bottom: 10px;
    }

    .address-block__text{
      font-size: 15px;
      line-height: 24px;
      opacity: 0.4;
      margin-bottom: 20px;
    }

    .address-block__address-full{
      position: relative;
      font-size: 14px;
      line-height: 20px;
      padding-left: 15px;

      .icon{
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0.4;
      }

      .icon:before{
        font-size: 14px;
      }
    }


    .address-block__address-howget{
      font-size: 14px;
      line-height: 20px;
      opacity: 0.4;
    }
  }

  .about__address-block-wrp:first-child{
    margin-bottom: 2px;
  }

  .content__text{
    margin-bottom: 55px;
  }
}



.section-about__service-items{
  margin-bottom: 70px;
}

.section-about__service-item{
  position: relative;
  padding-left: 35px;
  margin-bottom: 30px;

  &:last-child{
    margin-bottom: 0;
  }
}

.section-about__service-title{
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 5px;

  .icon{
    position: absolute;
    left: 0;
    top: 0;
  }

  .icon:before{
    font-size: 22px;
  }
}

.section-about__service-description{
  font-size: 14px;
  line-height: 20px;
  opacity: 0.4;
}

// -- section-about__col-3 --

.section-about__col-3-wrp{
  width: 680px;
}

.section-about__img-block-wrp{
  height: 400px;
  width: 100%;
  background-color: $bg-color-grey;
  margin-bottom: 40px;
}

.section-about__img-block{
  height: 100%;
  width: 95%;
}


.section-about__your-choice-wrp{
  padding-bottom: 100px;

  .content__title{
    margin-bottom: 30px;
  }
}

.section-about__your-choice-list{
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  max-height: 240px;
  transition-property: max-height;
  transition-duration: 1.5s;
  transition-timing-function: linear;
  margin-bottom: 24px;

  li{
    position: relative;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 15px;
    padding-left: 15px;
  }

  li:before{
    content: '';
    position: absolute;
    left: 0;
    top: 11px;
    width: 4px;
    height: 4px;
    background-color: $bg-color-black;
  }
}

.section-about__your-choice-list.active{
  max-height:1500px;
}

.section-about__your-choice-wrp{

  .link-with-border--path-bottom.active{
    .icon{
      transform: rotate(90deg) translateX(2px);
    }
  }
}


// ----------- responsive ----------
@media (max-width: 1030px){

}

@media (max-width: 992px){
  .section-about__text-content{

    .section-about__col-wrp{
      flex-direction: column;
    }

    .section-about__col-1{
      flex: 0 1 100%;
      order: 2;
    }

    // правая серая колонка
    .section-about__col-2{
      display: flex;
      flex: 0 1 100%;
      align-self: flex-start;
      max-width: none;
      min-width: 0;
      padding-left: 6.11%;
      padding-right: 6.11%;
      margin-right: 0;
      transform: translateY(0);
      background-color: $bg-color-grey;
    }

    .about__address-block-wrp{
      width: 50%;
      padding-top: 40px;
      padding-bottom: 40px;
     ;
      padding-right: 0;

      &:first-child{
        margin-bottom: 0;
        margin-right: 2px;
        padding-left: 0;
        padding-right: 40px;
        border-right: 2px solid #ffffff;
      }

      &:last-child{
        padding-left: 40px;
        padding-right: 0;
      }

      .address-block__address{
        font-size: 30px;
      }
    }
  }

}

@media (max-width: 768px){
  .section-about__text-content{

    .section-about__col-1{
      padding-left: 3%;
      padding-right: 3%;
    }


    .section-about__col-2{
      flex-direction: column;
      padding-left: 0;
      padding-right: 0;
    }

    .about__address-block-wrp{
      width: 100%;
      padding-top: 40px;
      padding-bottom: 40px;

      &:first-child, &:last-child{
        padding-left: 3%;
        padding-right: 3%;
      }

      &:first-child{
        margin-bottom: 2px;
        margin-right: 0;
        border-right: none;
        border-bottom: 2px solid #ffffff;
      }


    }

    .section-about__col-3-wrp{
      width: 100%;
    }

    .section-about__img-block-wrp{
      height: 55vw;
      width: 100%;
    }

    .section-about__img-block{
      width: 100%;
    }
  }
}


@media (max-width: 576px) {


}
@media (max-width: 320px){

}
