.section-vacancies{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 58px;
  border-top: 1px solid #E1E6E8;
}
// правая колонка
.section-vacancies__col-2{
  flex: 0 1 352px;
  width: 352px;
  align-self: flex-start;
  padding: 50px;
  background-color: $bg-color-grey;

  .sv__text{
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 20px;
  }

  .sv__contacts .tel{
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  .sv__contacts .mail{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
  }
}

// девая колонка
.section-vacancies__col-1{
  max-width: 700px;
  padding-bottom: 100px;

  .sv__title-wrp{
    max-width: 500px;
    margin-bottom: 50px;
  }

  .sv__title-wrp .text{
    font-size: 15px;
    line-height: 22px;
  }

  .content__title{
    margin-bottom: 10px;
  }
}

// ----------- responsive ----------
@media (max-width: 1030px){

}

@media (max-width: 992px){
  .section-vacancies{
    flex-direction: column;
    padding-top: 0;
  }

  .section-vacancies__col-2{
    order: 1;
    width: 100%;
    flex: 0 1 auto;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    .sv__text, .sv__contacts{
      width: 45%;
    }
  }

  .section-vacancies__col-1{
    order: 2;
  }

}

@media (max-width: 768px){
  .section-vacancies__col-2{
    flex-direction: column;

    .sv__text, .sv__contacts{
      width: 100%;
    }
  }


}


@media (max-width: 576px) {


}
@media (max-width: 320px){

}