.bars__row{
  display: flex;
  flex-direction: row;
}

.bars__column{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.bar__common{
  position: relative;
  height: 380px;
}

.bar_third{
  width: 500px;
}

.bar__two-thirds{
  width: 936px;
}

.bar__one-two{
  width: 718px;

}

.bar__one-two-small{
  width: 357px;
}


.bar--m-right{
  margin-right: 4px;
}

.bar--m-bottom{
  margin-bottom: 4px;
}

.bar__img{
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.bar__img img{
  max-width: 100%;
  max-height: 100%;
}



// плитки на странице model-page.php
.bar__common--type2{
  position: relative;
}

.bar__one-two--h708{
  height: 708px;
}

.bar__one-two--h366{
  height: 366px;
}

.bar__one-two--h338{
  height: 338px;

}


.bar__content-wrp{
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px;
  z-index: 1;
  color: $font-color-white;
}

.bar__content .content__title{
  margin-bottom: 15px;
}

.bar_text{
  font-size: 15px;
}



