.btn{
  display: inline-block;
  width: 300px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  padding-top: 16px;
  padding-bottom: 16px;
  transition: all 0.4s;
}

.btn.btn--orange{
  background-color: $font-link-color-hover;
}

.btn.btn--orange a{
  color: #ffffff;
}

.btn.btn--orange:hover{
  background-color: darken($font-link-color-hover, 20%);
}
