.information-title_wrp{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 50px;
  padding-right: 2.8%;


}

.information__items{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow: hidden;
}

.information-item--slider-wrp{
  padding-right: 2px;
  padding-left: 2px;
}

.information__item{
  width: 307px;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  margin-bottom: 15px;
}

.information__item:hover{
  text-decoration: none;
  box-shadow: 0 10px 10px rgba(41,52,73, 0.5);
  transition: box-shadow 0.3s;
  background-color: #fff;
  color: #000000;
}

.information__item:visited{
  color: #000000;
}

.information__img{
  position: relative;
  height: 160px;
  width: 100%;
  margin-bottom: 20px;
}

.information__img img{
  max-height: 100%;
  max-width: 100%;
}

.information__content{
  padding-left: 5px;
  padding-right: 5px;
}

.information__title{
  margin-bottom: 5px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;

}

.information_description{
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 8px;
}

.information_description__date{
  font-size: 12px;
  line-height: 24px;
  opacity: 0.4;
}

.information__item--opacity{
  opacity: 0.2;
}

.information__item--opacity .information__item:hover{
  box-shadow: none;
}
 // кнопки
.information-btn-wrp{
  position: absolute;
  width: 100%;
  z-index: 5;
}

.information-btn{
  position: absolute;
  bottom: -140px;
  display: inline-block;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.information-btn:after{
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  width: 40px;
  height: 40px;
}

.information-btn--prev{
  background: url("../img/icon_arrow_next.svg") no-repeat center center;
  transform: rotate(180deg);
  display: none;
}

.information-btn--next:after{
  background: url("../img/icon_arrow_next.svg") no-repeat center center;
}
