.information-title_wrp{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 50px;
}

.slide-item--information{
  padding-right: 2px;
  padding-left: 2px;
}

.information__item{
  width: 307px;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  margin-bottom: 15px;
}

.information__item:hover{
  text-decoration: none;
  box-shadow: 0 10px 10px rgba(41,52,73, 0.5);
  transition: box-shadow 0.3s;
  background-color: #fff;
  color: #000000;
}

.information__item:visited{
  color: #000000;
}

.information__img{
  position: relative;
  height: 160px;
  width: 100%;
  margin-bottom: 20px;
}

.information__img img{
  max-height: 100%;
  max-width: 100%;
}

.information__content{
  padding-left: 5px;
  padding-right: 5px;
}

.information__title{
  margin-bottom: 5px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;

}

.information_description{
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 8px;
}

.information_description__date{
  font-size: 12px;
  line-height: 24px;
  opacity: 0.4;
}


// блоки Полезная информация на странице information.php
.information__item--type2{
  width: 418px;
  margin-bottom: 30px;
}

// ----------- responsive ----------
@media (max-width: 1030px){

}

@media (max-width: 992px){


}

@media (max-width: 768px){


}


@media (max-width: 576px) {


}

@media (max-width: 350px) {
  .information__item{
    width: 290px;
  }

  .information__img{
    height: 152px;
  }

}


@media (max-width: 320px){

}



