*, *:before, *:after {
  -webkit-box-sizing: border-box; /* Нужно для мобильного WebKit */
  -moz-box-sizing: border-box; /* Нужно для Firefox */
  box-sizing: border-box;
}

body{
  margin: 0 auto;
  max-width: 1440px;
  min-width: 320px;
}

.container{
  padding-left: 6.11%;
  padding-right: 6.11%;
}


.container--full{
  padding-left: 0;
  padding-right: 0;
}


@media (max-width: 576px){
  .container{
    padding-left: 3%;
    padding-right: 3%;
  }
}