*, *:before, *:after {
  -webkit-box-sizing: border-box; /* Нужно для мобильного WebKit */
  -moz-box-sizing: border-box; /* Нужно для Firefox */
  box-sizing: border-box;
}

.container{
  padding-left: 2.8%;
  padding-right: 2.8%;
}

.container--full{
  padding-left: 0;
  padding-right: 0;
}