.model__items{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*.model-item--container:nth-child(odd){
  padding-left: 2.8%;
}

.model-item--container:nth-child(even){
  padding-right: 2.8%;
  padding-left: 2.8%;
}*/

.model-item--container{
  padding-right: 6.11%;
  padding-left: 6.11%;
}

.model__item{
  display: flex;
  flex-direction: row;
  width: 50%;
  padding-top: 40px;
  padding-bottom: 40px;
  transition: all 0.4s;
  border-right: 1px solid #E1E6E8;
  border-bottom: 1px solid #E1E6E8;

  .model_img{
    flex: 0 0 278px;
    width: 278px;
    height: 122px;
    margin-right: 35px;
    line-height: 122px;
    text-align: center;
  }

  .model_img a{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;

  }


  .model_img img{
    position: relative;
    z-index: 1;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
  }

  .model__content{
    padding-right: 20px;
  }

  .model__brand{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
  }

  .model__model-name{
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .model__price{
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 25px;
  }

  .model__get-phone{
    margin-bottom: 10px;
  }


  .model__get-phone a,
  .model__get-request a{
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
  }

  .model__get-request a:after{
    background-color: $font-link-color-hover;
  }

  .model__get-request:hover a:after{
    background-color: darken($font-link-color-hover, 20%);
  }

  .model__get-request .icon{
    transform: translateY(0);
  }
}

.model__item:hover{
  background-color: $bg-color-grey;
}

.model__item:nth-child(even){
  border-right: none;
}

.model__item:last-child{
  border-bottom: none;
}

.model_img a:before{
  content: "";
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 148px;
  height: 148px;
  border-radius: 50%;
  transform: translate(-74px, -74px);
  background-color: $bg-color-primary;
}


