.main-menu{
  position: relative;
  z-index: 10;
}

.main-menu__top-menu{
  position: relative;
  background-color: $bg-color-primary;
}

.main-menu__top-menu.fixed{
  position: fixed;
  width: 100%;
  max-width: 1440px;
  min-width: 320px;
}

.top-menu__wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 26px;
  box-shadow: 0 2px 24px rgba(26, 27, 28, 0.08);
}
// класс отображения ссылка в выпадающем меню
.col-left--popup-menu__wrp{
  display: none;
}

.top-menu__wrapper, .col-left--popup-menu__wrp{

  .col-left, .col-left--popup-menu{
    display: flex;
    flex-direction: row;
    flex-basis: 590px;
    justify-content: space-between;
    align-items:center;
  }

  .logo-wrp{
    display: flex;
    flex-direction: row;
    align-items:center;
  }

  .logo-wrp .logo a{
    margin-right: 30px;
    font-size: 20px;
    font-weight: 700;

    &:hover{
      color: $font-color-primary;
    }
  }

  .logo-wrp .address-link{
    white-space: nowrap;
    opacity: 0.4;
    transition: all 0.4s;
  }

  .logo-wrp .address-link a{
    border-bottom: 1px dashed $font-color-primary;
  }

  .logo-wrp .address-link:hover{
    opacity: 1;
    color: $font-link-color-hover;
  }

  .logo-wrp .address-link:hover a{
    border-bottom: 1px dashed $font-link-color-hover;
  }


  // марки машин
  .brands-with-popup-btn{
    display: flex;
    flex-direction: row;
  }

  .brands{
    display: flex;
    flex-direction: row;
  }

  .brands a{
    margin-right: 40px;
    font-size: 14px;
    font-weight: 700;
  }

  .col-left--popup-menu .brands a:last-child{
    margin-right: 0;
  }

  .brands--active a{
    color: $font-color-grey;
    transition: color 0.4s;
  }

  .brands--active a:hover{
    color: $font-link-color-hover;
  }

  // кнопка включения выпадающего меню
  .main-menu__btn{
    cursor: pointer;
  }

  .main-menu__btn span{
    position: relative;
    display: inline-block;
    font-size: 0;
    height: 10px;
    width: 36px;

    &:before, &:after{
      content: '';
      top: 50%;
      margin-top: -1px;
      position: absolute;
      width: 36px;
      height: 2px;
      background-color: $font-color-primary;
      transition: all 0.5s;
    }

    &:before{
     transform: translateY(-3px);
    }

    &:after{
      transform: translateY(3px);
    }
  }

  .main-menu__btn.active{
    span:before, span:after{
      width: 26px;
    }

    span:before{
      transform: rotate(45deg);
    }

    span:after{
      transform: rotate(-45deg);
    }
  }
}


// общие стили для верхнего меню и соб-меню
.main-menu{
  .contacts{
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    justify-content: flex-end;
  }

  .address{
    margin-right: 25px;
    padding-left: 25px;
    font-size: 14px;
    color: $font-color-grey;
    white-space: nowrap;
  }

  .tel a{
    font-size: 16px;
    font-weight: 700;
    white-space: nowrap;
  }
}


// ---- popup menu ----
.main-menu__popup-menu{
  position: absolute;
  left: 0;
  right: 0;
  top: -1000px;
  opacity: 0;
  display: none;
  padding-top: 25px;
  padding-bottom: 65px;
  background-color: $bg-color-grey;
}

.main-menu__popup-menu.active{
  display: block;
}

.popup-menu__navs-wrp{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.popup-menu__nav{
  display: flex;
  list-style-type: none;
  font-weight: 700;
  padding: 0;

  li{
    margin-bottom: 15px;
  }

  li:last-child{
    margin-bottom: 0;
  }
}

.popup-menu__nav--left{
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px 0 0 0;
  font-size: 24px;
  line-height: 36px;

  ul:first-child{
    margin-right: 100px;
  }

  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li{
    white-space: nowrap;
  }
}

.popup-menu__nav--right{
  flex-direction: column;
  text-align: right;
  font-size: 16px;
  line-height: 24px;
  padding-top: 78px;

  li{
    margin-bottom: 10px;
    white-space: nowrap;
  }
}


// нижние ссылки (Заявка на кредит / Запись на ТО / поиск)
.popup-menu__bot-links-wrp{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;

  .links_wrp{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .links_wrp .credit{
    margin-right: 40px;
    white-space: nowrap;

  }

  .links_wrp .service{
    margin-right: 70px;
    white-space: nowrap;
  }

  .links_wrp .credit a,
  .links_wrp .service a{
    font-size: 14px;
    line-height: 24px;
    white-space: nowrap;
    transition: all 0.4s;
  }

  .links_wrp .credit .icon:before,
  .links_wrp .service .icon:before{
    font-size: 14px;
  }

  .links_wrp .credit:hover,
  .links_wrp .service:hover{
    color: $font-link-color-hover;
    transition: color 0.4s;
  }
}

// кнопка поиска
.main-menu__search{
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 20px;
  padding: 1px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: $bg-color-grey;
  transition: all 0.5s ease;
  transform: translateY(-3px);
  z-index: 1;

  .input{
    border: 0;
    width: 0;
    padding-left: 5px;
    line-height: 1.5;
    outline: none;
    color: $font-color-primary;
    transition: width 0.3s ease;
    background-color: transparent;
  }

  .input::placeholder{
    color: $font-link-color-hover;
  }

  .input.active{
    width: calc(100% - 20px);
    transition: width 0.5s ease;
  }

  input[type='submit']{
    display: none;
  }

  input::placeholder {
    color: $font-color-primary;
    font-weight: 400;
  }

  .icon{
    position: absolute;
    right: 3px;
    cursor: pointer;
    line-height: 1.5;
    transform: translateY(2px);
  }

  .icon:hover{
    color: $font-link-color-hover;
  }

  .icon.active{
    color: $font-link-color-hover;
  }
}

.main-menu__search.active{
  box-shadow: 0 0 10px $font-link-color-hover;
  width: 200px;
}



// ----------- responsive ----------
@media (max-width: 1050px){
  .logo-wrp .address-link{
    display: none;
  }

}

@media (max-width: 992px){
  .top-menu__wrapper .contacts{
    display: none;
  }

  .top-menu__wrapper .col-left{
    flex-basis: 100%;

    .brands{
      flex-grow: 1;
      justify-content: flex-end;
    }
  }

  .popup-menu__bot-links-wrp{
    .links_wrp .credit{
      margin-right: 35px;
    }

    .links_wrp .service{
      margin-right: 45px;
    }




  }



}

@media (max-width: 768px){
  .main-menu__popup-menu{
    padding-bottom: 40px;
  }

  .popup-menu__navs-wrp{
    flex-direction: column;
  }

  .popup-menu__nav--left{
    padding-top: 40px;

    ul:first-child{
      margin-right: 50px;
    }
  }


  .popup-menu__nav--right{
    text-align: left;
    padding-top: 40px;
  }

  .main-menu__popup-menu .contacts{
    flex-direction: column;
    align-items: flex-start;

    .address{
      padding: 0;
      margin: 0 0 7px 0;
    }
  }


  .popup-menu__bot-links-wrp{
    flex-direction: column;
    align-items: flex-start;

    .btn{
      margin-bottom: 40px;
    }

    .links_wrp{
      justify-content: flex-start;
      width: 100%;
    }

    .main-menu__search{
      right: 0;
    }
  }



}


@media (max-width: 576px) {
  .top-menu__wrapper .brands{
    display: none;
  }


  .popup-menu__nav--left {
    width: 100%;
    justify-content: space-between;


    ul:first-child{
      margin-right: 0;
    }
  }


  .popup-menu__bot-links-wrp{

    .links_wrp{
      flex-direction: column;
    }

    .links_wrp .credit{
      margin-bottom: 10px;
    }

  }


  // показуем ссылки в выпадающем меню
  .col-left--popup-menu__wrp{
    display: block;
    margin-bottom: 40px;

    .logo-wrp .address-link{
      display: block;
    }
  }



}
@media (max-width: 320px){

}
// ----------- end responsive ----------
