.section-service__our-services{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 70px;

  .our-services__item{
    position: relative;
    flex: 0 1 25%;
    padding-left: 30px;
    padding-right: 20px;
  }

  .icon{
    position: absolute;
    left: 0;
    top: 3px;
  }

  .icon:before{
    font-size: 24px;
  }

  .our-services__title{
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    margin-bottom: 12px;
  }

  .our-services__text{
    font-size: 15px;
    line-height: 22px;
  }
}


// ----------- responsive ----------
@media (max-width: 1030px){

}

@media (max-width: 992px){
  .section-service__our-services{

    .our-services__item{
      flex: 0 1 50%;
      margin-bottom: 30px;
    }


  }


}

@media (max-width: 768px){
  .section-service__our-services{
    padding-bottom: 50px;
  }

}


@media (max-width: 576px) {
  .section-service__our-services{

    .our-services__item{
      flex: 0 1 100%;
    }
  }

}
@media (max-width: 320px){

}

