.section-service{
  border-top: 1px solid #E1E6E8;
  padding-top: 70px;
  padding-bottom: 120px;
}

.section-service__col-wrp{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-service__col-1{
  flex: 0 1 680px;
  margin-right: 20px;
}

.section-service__col-2{
  flex: 0 1 440px;
  min-width: 350px;
  align-self: flex-start;
}

// левая колонка
.section-service__col-1{

  .section-service__title_wrp{

    .content__title{
      margin-bottom: 10px;
    }

    .title__text{
      font-size: 15px;
      line-height: 22px;
      margin-bottom: 30px;
      opacity: 0.4;
    }
  }
}

// правая колонка
.section-service__col-2{

  .service__address-block-wrp{
    padding: 9.1% 11.3%;
    background-color: $bg-color-grey;
    margin-bottom: 2px;

    .address-block__name{
      font-size: 14px;
      line-height: 20px;
      font-weight: 700;
    }

    .address-block__address{
      font-size: 24px;
      line-height: 28px;
      font-weight: 700;
      margin-bottom: 15px;
    }

    .address-block__address-full{
      position: relative;
      font-size: 14px;
      line-height: 20px;
      padding-left: 15px;
      margin-bottom: 5px;

      .icon{
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0.4;
      }

      .icon:before{
        font-size: 14px;
      }
    }

    .address-block__address-tel{
      font-size: 16px;
      line-height: 20px;
      font-weight: 700;
    }

    .address-block__text{
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 5px;
    }

    .address-block__schedule{
      font-size: 16px;
      line-height: 20px;
      font-weight: 700;
      margin-bottom: 30px;
    }

    .btn{
      width: 100%;
    }
  }

  .service__address-block-wrp:last-child{
    margin-bottom: 0;
  }
}


// ----------- responsive ----------
@media (max-width: 1030px){

}

@media (max-width: 992px){
  .section-service{
    padding-top: 0;
  }

  .section-service__col-wrp{
    flex-direction: column;
  }

  .section-service__col-1{
    margin-right: 0;
    order: 2;
  }

  .section-service__col-2{
    flex: 0 1 100%;
    min-width: 0;
    order: 1;
    margin-bottom: 40px;
    align-self: stretch;


    .service__address-block-wrp{
      padding: 20px;
      display: flex;
    }

    .address-block__contacts-wrp{
      margin-right: 5%;
    }

    .service__address-block-wrp--schedule{

      .btn{
        max-width: 270px;
        margin-left: 30px;
        align-self: flex-start;
      }
    }


  }



}

@media (max-width: 768px){
  .section-service{
    padding-bottom: 50px;

  }

}


@media (max-width: 576px) {
  .section-service__col-2{

    .service__address-block-wrp{
      flex-direction: column;
    }

    .service__address-block-wrp--schedule{
      .btn{
        width: 100%;
        margin-left: 0;
      }
    }

  }


}
@media (max-width: 320px){

}