.section-information{
  padding-top: 55px;
  padding-bottom: 100px;
  border-top: 1px solid #E1E6E8;
}

.section-information__title_wrp{

  .content__title{
    margin-bottom: 10px;
  }

  .title__text{
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 30px;
  }

  .link-with-border--path-bottom{
    margin-bottom: 30px;
  }
}

.section-information .information__items-wrp{
  margin-bottom: 10px;
}


