.section-information{
  padding-top: 55px;
  padding-bottom: 100px;
  border-top: 1px solid #E1E6E8;
}

.section-information__title_wrp{

  .content__title{
    margin-bottom: 10px;
  }

  .title__text{
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 30px;
  }

  .link-with-border--path-bottom{
    margin-bottom: 30px;
  }
}

.section-information .information__items-wrp{
  margin-bottom: 10px;
}

.information__items-wrp{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

// ----------- responsive ----------
@media (max-width: 1030px){

}

@media (max-width: 992px){


}

@media (max-width: 768px){
  .section-information{
    padding-bottom: 50px;
  }

}


@media (max-width: 576px) {


}
@media (max-width: 320px){

}


