.section-article__top-part{
  position: relative;
  height: 300px;

  .sa-top-part__bg-gradient{
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(19, 19, 20, 0.0001) 34.95%, #131314 70.62%);
    height: 100%;
    width: 100%;
    z-index: 1;
  }

  .sa-top-part__img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .sa-top-part__img img{
    position: absolute;
    left: 50%;
    margin-left: -720px;
    width: 1440px;
    max-height: 100%;
  }
}

.sa-top-part__content{
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;

  .link-line--sa-top-part a:after{
    background-color: #ffffff;
    opacity: 0.3;
  }

  .link-line--sa-top-part:hover a,
  .link-line--sa-top-part:hover .icon{
    color: #c9cacb;
  }

  .link-line--sa-top-part:hover a:after{
    background-color: #c9cacb;
    opacity: 1;
  }
}

.sa-top-part__wrp{

  .content__title{
    color: $font-color-white;
    margin-bottom: 10px;
  }
}

.sa-top-part__status{
  display: flex;
  flex-direction: row;
  justify-content: center;

  color: $font-color-white;
  opacity: 0.4;

  font-size: 12px;
  line-height: 18px;

  .date{
    margin-right: 24px;
  }

  .count-views{
    margin-left: 5px;
  }
}

// ----------- responsive ----------
@media (max-width: 1030px){

}

@media (max-width: 992px){


}

@media (max-width: 768px){


}


@media (max-width: 576px) {


}
@media (max-width: 320px){

}

