.mp-other-equipment{
  padding-top: 120px;



}

.mp-other-equipment__head{

  .content__title{
    margin-bottom: 5px;
  }

  .link-with-border--path-bottom{
    margin-bottom: 40px;
  }
}

.mp-other-equipment__content-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #E1E6E8;
  padding-left: 6.11%;
  padding-right: 6.11%;
  padding-top: 24px;
  padding-bottom: 24px;
}

.mp-other-equipment__content-row:last-child{
  border-bottom: 1px solid #E1E6E8;
}

.mp-other-equipment__content-row{
  align-items: center;

  .col-1, .col-2{
    display: flex;
    flex-direction: row;

  }

  .col-1{
    align-items: flex-end;
  }

  .col-2{
    align-items: center;
  }

  .spec{
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    margin-right: 10px;
  }

  .art{
    font-size: 14px;
    line-height: 20px;
    opacity: 0.4;
  }

  .price{
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    margin-right: 40px;
  }

  .test-link{
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    margin-right: 24px;

  }
}