.mp-specifications{
  padding-top: 100px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: row;

  .content__title{
    margin-bottom: 40px;
  }

}


.mp-specifications__col-1{
  flex: 0 1 38.4%;
  border-right: 1px solid $bg-color-grey;
  padding-right: 10px;
}

.mp-specifications__col-2{
  flex: 0 1 61.6%;
  padding-left: 6.3%;
}

.mp-specifications__table{

  td{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    line-height: 24px;
    min-width: 120px;

  }

  .table__content{
    font-weight: 700;
    padding-left: 25px;
  }
}

.mp-specifications__list-wrp{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .list-with-squares{
    flex: none;
    width: 45%;
  }
}


.mp-specifications__list-wrp{
  overflow: visible;
  max-height: none;
  transition-property: max-height;
  transition-duration: 1.5s;
  transition-timing-function: linear;
}

.mp-specifications__list-wrp.active{
  max-height:none;
}

.mp-specifications__col-2{

  .link-with-border--path-bottom{
    padding-top: 15px;
    display: none;
  }

  .link-with-border--path-bottom.active{
    .icon{
      transform: rotate(90deg) translateX(2px);
    }
  }
}

// страница current_model_used.php
.mp-specifications--current-model-used{

  .mp-specifications__list-wrp{
    max-height: none;
    margin-bottom: 50px;
  }
}



// ----------- responsive ----------
@media (max-width: 1030px){

}

@media (max-width: 992px){
  .mp-specifications .content__title{
    font-size: 32px;
  }

  .mp-specifications__col-2{
    padding-left: 3%;
  }

  .mp-specifications__list-wrp{

    .list-with-squares{
      width: 48%;
    }
  }

}

@media (max-width: 900px){
  .mp-specifications{
    flex-direction: column;
  }

  .mp-specifications__col-1{
    margin-bottom: 100px;
    min-width: 320px;
  }

  .mp-specifications__col-1,
  .mp-specifications__col-2{
    flex: 0 1 100%;
  }

  .mp-specifications__table{
    width: 50%;
    min-width: 320px;
  }
}




@media (max-width: 768px){


}


@media (max-width: 576px) {
  .mp-specifications__list-wrp{
    flex-direction: column;
    max-height: 480px;
    overflow: hidden;

    .list-with-squares{
      width: 100%;
    }
  }

  .mp-specifications__list-wrp.active{
    max-height:2000px;
  }

  .mp-specifications{
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .mp-specifications__col-1{
    margin-bottom: 50px;
  }

  .mp-specifications__col-2 .link-with-border--path-bottom{
      display: inline-block;
  }




}
@media (max-width: 320px){

}
