.mp-other-equipment{
  padding-top: 120px;



}

.mp-other-equipment__head{

  .content__title{
    margin-bottom: 5px;
  }
}

.mp-other-equipment__link{
  display: inline-block;
  margin-bottom: 40px;

  a{
    font-size: 14px;
    line-height: 28px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
    margin-right: 5px;
    transition: all 0.4s;
  }

  .icon{
    display: inline-block;
    transform: rotate(-90deg) translateX(-2px);
    transition: all 0.4s;
  }
  .icon:before{
    font-size: 12px;
  }
}

.mp-other-equipment__link:hover{

  a{
    border-bottom: 1px dashed $font-link-color-hover;
  }

  .icon{
    color: $font-link-color-hover;
  }
}

.mp-other-equipment__content-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #E1E6E8;
  padding-left: 6.11%;
  padding-right: 6.11%;
  padding-top: 24px;
  padding-bottom: 24px;
}

.mp-other-equipment__content-row{
  align-items: center;

  .col-1, .col-2{
    display: flex;
    flex-direction: row;

  }

  .col-1{
    align-items: flex-end;
  }

  .col-2{
    align-items: center;
  }

  .spec{
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    margin-right: 10px;
  }

  .art{
    font-size: 14px;
    line-height: 20px;
    opacity: 0.4;
  }

  .price{
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    margin-right: 40px;
  }

  .test-link{
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    margin-right: 24px;

  }

  .look-link{
    color: $font-link-color-hover;

    a{
      font-size: 14px;
      line-height: 18px;
      font-weight: 700;
      color: $font-link-color-hover;
      transition: all 0.4s;
    }

    a:after{
      background-color: $font-link-color-hover;
    }

    .icon{
      transition: all 0.4s;
    }

    .icon:before{
      font-size: 10px;
    }
  }

  .look-link:hover{
    a{
      color: darken($font-link-color-hover, 20%);
    }
    a:after{
      background-color: darken($font-link-color-hover, 20%);
    }
    .icon{
      color: darken($font-link-color-hover, 20%);
    }
  }
}